:root
{
    background-color: rgb(233, 231, 255);
}
h1
{
    text-align: center;
    color: var(rgb(74, 62, 201));
    background-color: rgb(40,0,50);
    font-size: 38pt;
    font-style: serif;
}
section
{
    color: var(rgb(59, 50, 156));
    float: center;
}
p
{
    text-align: center;
    font-size: 16pt;
    margin:0 10px 10px
}
div.button
{
    text-align: center;
}
#navigation
{background:#81a1bf; float:left; width:150px; margin-left:-700px;}
#navigation
ul{margin:15px 0; padding:0; list-style-type:none;}
#navigation
li{margin-bottom:5px;}
#container
{text-align:center;}
#extra{float:left;width:150px;margin-left:-150px;}
#footer{clear:left;width:100%;}